<html>
  <head>
    <title>SacDaq Dashboard</title>
  </head>
  
  <body>
    <h1>SacDaq Dashboard</h1>

    <dl>
      [% FOREACH sensor IN sensors -%]
      <dt><a href="/sensor/[% sensor.uuid %]/data">[% sensor.name %]</a></dt>
      <dd>[% sensor.last_value %] at [% sensor.last_datetime %]</dd>
      [% END -%]
    </dl>
  </body>
</html>
