body
{ 
  margin: 0;
  background-color: #ccd;
}
a
{ 
  text-decoration: none;
  color: #00f;
}
a:visited
{ 
  color: #55d;
}
a:hover
{ 
  color: #0a0; text-decoration: underline;
}
a img
{
  border-width: 2px;
}
#header
{ 
  padding-left: 24pt;
  background-color: #ccd;
  color: #a00;
}
#sitename
{ 
  float: left;
  font-size: 120%;
  margin: 16pt 24pt 10pt 0;
  color: #24b;
}
#header h2
{
  float: left;
  margin: 14pt 0 10pt 0;
  font-size: 140%;
}
#sitename a
{
  color: #24b;
}
#content
{ 
  clear: both;
  background-color: #eee;
  border-color: #f50;
  border-width: 2px;
  border-style: solid none solid solid;
  margin-left: 10pt;
  padding: 8pt 12pt 8pt 6pt;
  font-family: sans-serif;
}
#content h2
{
  font-size: 120%;
  margin-bottom: 4pt;
  border-bottom: 1px solid black;
}
.numeric
{
    font-family: monospace;
}
.time-cell
{
    width: 12em;
}
#tab-container
{
    width: 100%;
    border-bottom: 2px solid #f50;
    padding-left: 16pt;
    margin-left: -6pt;
    margin-top: 8pt;
}
.tab-inactive
{
    background-color: #dde;
    border-color: #d40;
    border-style: solid;
    border-width: 2px 2px 0;
    padding: 0 4pt 0;
}
.tab-active
{
    border-color: #f50 #f50 #eee;
    border-width: 3px 3px 2px;
    border-style: solid;
    padding: 4pt 6pt 0;
    font-weight: bold;
}
#footer
{
    color: #335;
    margin-left: 16pt;
}
.plot-image
{
    float: right;
    clear: right;
    border: 1px solid black;
    margin: 8pt;
}
